<div class="title-box">
  <h1>Mes symptômes</h1>
</div>

<%#= form_tag symptoms_path, method: :get do %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Chercher un de mes symptômes"
  %>
<%# end %>

<div class="box">
  <div id="calendar" style="width:384px; height:600px;" data-event-day="<%= @events_day.to_json %>" data-event-week="<%= @events_week.to_json %>" data-event-month="<%= @events_month.to_json %>"></div>
</div>


