.fc-toolbar.fc-header-toolbar{
  margin-bottom: 0.5em !important;
}

.fc-agendaDay-button{
  margin-left: 0px !important;
  padding:0px;
  border-radius:0px;
}

.fc-center h2{
  font-size: 21px;
  line-height: 1.8;
}

.fc-today{
  background-color: $light-blue !important;
}

.fc-agendaDay-view .fc-today{
  background:none !important;
}

.fc-month-view .fc-event{
  background-color: transparent !important;
  border:none;
  .fc-content{
  color: $gray;
  }
  img{
    // font-size:21px;
    &:first-child{
      margin-right:4px;
    }
  }
}

.img-calendar{
  width: 22px;
  height: 22px;
}
