<h1>Traitement</h1>

<div class="box">
  <div id="calendar" style="width:384px; height:600px;" data-event-day="<%= @events_day.to_json %>" data-event-week="<%= @events_week.to_json %>" data-event-month="<%= @events_month.to_json %>"></div>
</div>
