<h1>Mes soins</h1>

<div class="box">
  <div id="calendar" data-event-day="<%= @events_day.to_json %>" data-event-week="<%= @events_week.to_json %>" data-event-month="<%= @events_month.to_json %>"></div>
</div>
