<h1>Ma liste d'agents médicaux</h1>


<% @medical_professionals.each do |mp| %>
  <%= link_to(medical_professional_path(mp), class: "link") do %>
    <hr>
    <% if mp.doctor == "" %>
      <em><%= mp.location_name %></em>
    <% else %>
      <em><%= mp.location_name %> • <%= mp.doctor %></em>
    <% end %>
  <% end %>
<% end %>
