<div class="title-box">
  <h1>Mon historique médical</h1>
</div>

<div class="section-box">
  <hr>
  <h6>Cherchez un élément de votre historique médical pré-diagnostique en tappant:</h6>
  <%= form_tag medical_records_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control searchbar",
      placeholder: "Search bar"
    %>
  <% end %>
</div>

<div class="section-box">
  <hr>
  <h6>Cherchez un élément de votre historique médical pré-diagnostique en cliquant sur:</h6>
  <div class="category-box">
    <h4 class="category category-button text-center">Consultations Médicales</h4>
    <h4 class="category category-button text-center">Opérations Chirurgicales</h4>
    <h4 class="category category-button text-center">Vaccins</h4>
    <h4 class="category category-button text-center">Maladies Infantiles</h4>
    <h4 class="category category-button text-center">Antécédents Familiales</h4>
    <h4 class="category category-button text-center">Prises de Sang</h4>
    <h4 class="category category-button text-center">Autres</h4>
  </div>
</div>


