<%= form_tag medical_records_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control searchbar",
    placeholder: "Search bar"
  %>
<% end %>

<div class="last-items-box">
  <h1>hello</h1>

</div>
