.center-box {
  height: 100vh;
  //height: calc(100vh-70px); ne marche pas, a retravailler ?
  margin: 20px;
}

.section-box {
  margin-top: 20px;
}

.list-box {
  margin: 20px 10px;
}

.list-item {
  margin-top: 8px;
}

.show-title {
  margin-top: 30px;
}

