.center-box {
  // height: 100vh;
  // margin: 20px;
  height:100%;
  padding-top:20px;
  padding-bottom:100px;
  padding-left:20px;
  padding-right:20px;

}

.list-box {
  margin: 20px 10px;
}

.list-item {
  margin-top: 8px;
}

.show-title {
  margin-top: 50px;
}

.show-gallery {
  margin-top: 30px;
}

// Shared

.title-box {
  margin-bottom: 35px;
}

.category-box {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

// Search

.search-box {
  display: flex;
  justify-content: space-between;
}

.section-box {
  margin-top: 30px;
}



// Shows

.title-show {
  height: 180px;
}

.category-show {
  margin-top: 50px;
}

.subtitle-show {
  margin-top: 20px;
  color: $dark-blue;
}

.separation-box {
  padding: 20px 0;
  margin-top: 20px;
  background: rgba(120, 210, 213, 0.2);
  box-shadow: 0px 2px 6px rgba(53, 129, 175, 0.7);
  p {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
}

.photo-box {
  margin-top: 30px;

}

.edit-delete-box {
  margin-top: 30px;
}

// Mobile layout

.mobile-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.mobile-screen-container {
  flex-grow: 1;
  overflow: scroll;
  position: relative;
}

.mobile-screen-navbar {
  height: 70px;
  z-index: 1;
}

.bleu {
  color: $dark-blue;
}
