  <div class="inline-form">
    <div class="form-inputs">
      <%= time_field_tag "doses[CHANGE_ME][take_time]" %>
    </div>

    <div class="form-inputs">
      <%= text_field_tag "doses[CHANGE_ME][quantity]" %>
    </div>
  </div>
