<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Hello guys!</h1>

<h2>hehohiha</h2>

<h3>hehohiha</h3>

<h4>hehohiha</h4>

<h5>hehohiha</h5>

<h6>hehohiha</h6>

<p>hehohiha <strong>hehohiha</strong></p>
