<div class="banner">
  <div class="banner-content">
    <div class="banner-title">
      <h3>K-Buddy</h3>
      <p>Prenez la maladie de vitesse</p>
    </div>
    <%= link_to "Accédez à votre journal de bord", new_user_session_path, class: "submit-button" %>
  </div>
</div>

