<div class="wellbeing">
<h1>K-MAG</h1>

<div class="banner-articles">
  <div class="banner-title">
    <h2><i>Témoignage d'Alexandra</i></h2>
  </div>
</div>
<div class="title-description">
  <h3>Ma bataille contre le cancer.</h3>
  <p>On a découvert mon cancer le 1er avril 2013. Ça faisait deux ans que j’avais mal au ventre. Ça a d’abord commencé par le bas ventre...</p>
</div>

  <div class="article">
    <div class="text">
      <h4>Les Franjynes, une alternative à la perruque</h4>
      <p>De jolies franges de 7 couleurs, disposant d’un système breveté afin de tenir sur les têtes sans cheveux.</p>
    </div>
      <%= image_tag ("bandeau.jpg"), class:"image"%>
  </div>

<div class="article">
  <div class="text">
    <h4>Feminity & JY</h4>
    <p>Beauty and Lifestyle blogger for woman with cancer. Blogueuse beauté et bonne humeur pour les femmes touchées par un cancer...</p>
  </div>
    <%= image_tag ("feminity.jpg"), class:"image"%>
</div>

  <div class="article">
    <div class="text">
      <h4>Master K</h4>
      <p>Une histoire de résilience… by Charlotte. Marque engagée, sincère et bienveillante. </p>
    </div>
      <%= image_tag ("misterK.jpg"), class:"image"%>
  </div>
</div>

