.submit-button {
  border-radius: 30px;
  background: $dark-green;
  color: white;
  padding: 10px 20px;
}

.submit-button:hover {
  text-decoration: none;
  color: white;
  background-color: $light-green;
}

.category {
  margin-bottom: 7px;
}

.category-button {
  border-radius: 30px;
  background: $light-green;
  color: white;
  padding: 10px 20px;
  width: 300px;
}

.search-button {
  border-radius: 10px;
  background: $light-green;
  color: white;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
}

.hidden-button {
  visibility: hidden;
}

.mini-button {
  border-radius: 30px;
  background: $dark-green;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  width: 64px;
  text-decoration: none !important;
  &:hover{
    color:white;
  }
}
