.simple_form {
  label {
    color: $dark-green;
    font-size: 16px;
  }
  h2 {
  color: $dark-green;
  }
}

.form-inputs {
  margin-bottom: 10px;
  input {
    width: 100%;
  }
  label {
    color: $gray;
  }
}

.form-control {
  background-color: white;
  color: black;
  &:focus {
    box-shadow: 0 0 5px rgba(98, 101, 228, 1) !important;
    border-width: 3px;
  }
}

.form-title {
  margin-top: 60px;
  h2 {
    color: $dark-green;
  }
}

.form-subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  color: $light-green;
}

.form {
  margin-top: 50px;
}

.form-actions {
  margin-top: 20px;
}

.form-links {
  margin-top: 20px;
  font-size: 12px;
  color: black;
  text-decoration: none;
  a {
    color: $gray;
  }
  &:link, &:visited, &:hover, &:active {
   text-decoration: none;
   color: $gray;
  }
}

.form-photo {
  margin-top: 30px;
}


// Searchbar

.searchbar {
  height: 35px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.428571429;
  color: #353535;
  background-color: white;
  background-image: none;
  border: 1px solid #light-blue;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#query_category {
  width: 250px;
}

// Box

.title-form {
  margin-top: 60px;
}

// Select

.soflow {
   background-image: url(http://i62.tinypic.com/15xvbd5.png);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
}

.inline-form{
  display: flex;
  justify-content: space-between;
}

.inline-form>*{
  width: 49%;
}
