// Sizes

h1 {
  font-size: 38px;
  margin: 0;
  color: $dark-blue;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;

}

h4 {
  font-size: 18px;
}

h5 {

}

h6 {
  font-size: 15px;
  font-weight: regular;
}

p {
  font-size: 18px;
  font-weight: regular;
}

strong {
  font-weight: bold;
}

em {

}

// Links

.link {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: $gray;
  }
}

