#menu-box {
  display: flex;
  flex-direction: column;
  border: solid;
  justify-content: center;
  z-index: 10;
  margin: 10px;
  visibility: hidden;
  a {
  text-decoration: none;
  }
  .submit-button {
    margin: 15px;
  }
}

