#menu-box {
  display: flex;
  flex-direction: column;
  border: solid;
  justify-content: center;
  z-index: 10;
  visibility: hidden;
  position: absolute;
  top: 25%;
  width: 100%;

  a {
  text-decoration: none;
  }
  .submit-button {
    margin: 15px;
  }
}

