
.slidecontainer {
    width: 100%; /* Width of the outside container */
    p{
      margin:0;
    }
}

/* The slider itself */
.slider {
    //-webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: $light-gray; /* Grey background */
    outline: none; /* Remove outline */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: $dark-green;
    cursor: pointer; /* Cursor on hover */
}
